*, *:before, *:after {
    user-select: none;
}

.m__panel .Panel__in {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    transition: background-image .2s;
}
.m__panel {
    text-align: center;
    color: #fff;
}

.m__h1 {
    font-size: 2.3em;
    margin: 0;
    line-height: 1.5;
}
.m__h2 {
    font-size: 1.5em;
    line-height: 1.1;
    padding: 0 20%;
    margin: 0;
    filter: drop-shadow(0 0 20px rgb(0, 0, 0, .5));
}

.m__stiker img {
    margin: 20px 0 0 0;
    max-width: 240px;
    width: 60%;
}

.m__button {
    background-color: rgb(1, 110, 213);
    display: inline-block;
    padding: 20px 40px;
    border-radius: 30px;
    box-shadow: 0 0 40px rgb(1, 110, 213, .6);
    cursor: pointer;
}
.m__button:active {
    background-color: rgb(61, 137, 207);
}

.m__footer__button {
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    font-size: .9em;
    filter: drop-shadow(1px 1px 2px rgb(1, 110, 213, .8));
    cursor: pointer;
}

.Icon--like_36 {
    color: rgb(255, 0, 4);
    animation: heartbeat 2.5s infinite;
}

@media screen and (max-height: 500px) {
    .m__panel .Panel__in {
        padding-top: 30px !important;
    }
    .m__h1 {
        font-size: 1.8em;
    }
    .m__h2 {
        font-size: 1.2em;
    }
    .m__stiker img {
        max-width: 150px;
        margin-top: 10px;
        margin-bottom: -10px;
    }
    .m__button {
        padding: 15px 30px;
    }
}

.PanelHeader--ios .PanelHeader-bg::after {
    display: none;
}
.PanelHeader--android .PanelHeader-bg {
    display: none;
}
.PanelHeader-content--brand, .PanelHeader-bg--brand {
    background: transparent !important;
}
.PanelHeader-left-in--brand, .PanelHeader-addon--brand, .PanelHeader-right--brand {
    background: transparent !important;
}

@keyframes rotate {
    from {transform: rotate3d(0, 1, 0, 0deg);}
    to {transform: rotate3d(0, 1, 0, 360deg);}
}

@keyframes heartbeat {
  0% { transform: scale( 1 ); }
  20% { transform: scale( 1.25 ); }
  40% { transform: scale( 1 ); }
  60% { transform: scale( 1.30 ); }
  80% { transform: scale( 1 ); }
  100% { transform: scale( 1 ); }
}