.wrapper {
    text-align: center;
    color: #fff;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-top: -30px;
}
.center {
    text-align: center;
}
.heart {
    animation: rotate 2s infinite ease-in-out;
    font-size: 100px;
    line-height: 1px;
    color: red;
}
.mh1 {
    position: relative;
    top: 50px;
    color: #333;
    font-size: 36px;
    line-height: 30px;
}
.mh2 {
    position: relative;
    top: 30px;
    color: #333;
}
.stories-text {
    font-size: 12px;
    color: #757575;
}
.mfooter {
    position: fixed;
    bottom: 40px;
    width: 100%;
    left: -12px;
}
.PanelHeader--ios .PanelHeader-bg::after {
    display: none;
}
.PanelHeader--android .PanelHeader-bg {
    display: none;
}
@keyframes rotate {
    from {transform: rotate3d(0, 1, 0, 0deg);}
    to {transform: rotate3d(0, 1, 0, 360deg);}
}